/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

.Info{
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
    height: 100%;
    min-width: 1310px;
    max-width: 1310px;
    margin: 0 auto;
}


.logo {
    display: flex;
    width: 61px;
    height: 19px;
    padding-top: 30px;
}
.navigation{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.ButtonHebergement{
    display: flex;
    outline: 0;
    border-width: 0;
    border-top: 3px solid #0065FC;
    background-color: #fff;
    cursor: pointer;
    height: 35px;
    width: 113px;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    color: #0065FC;
}
.boutondivactivites{
    gap: 68px;
}
.Buttonactivite{
    display: flex;
    outline: 0;
    border-width: 0;
    background-color: #fff;
    cursor: pointer;
    height: 35px;
    width: 113px;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    padding-top: 5px;
}
.Infobardiv{
    font-size: 16px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

.Titre-Recherche{
    display: flex;
    padding-top: 53px;

}

.Barre-de-recherche {
    background-color: #fff;
    border-radius: 4px;
    padding: 8px;
    font-family: 'Raleway', sans-serif;
    width: 377px;
    gap: 24px;
    margin-top: 15px;
  }
  
.Input-Recherche{
    border: 1px solid #f2f2f2;
    outline: 0;
    padding: 1px 0px 0px 0px;
    margin-left: -4px;
    width: 188px;
    height: 46px;
    font-weight: 700;
    text-indent: 22px;
    
    
}
  
.Bouton-Recherche {
    background-color: #4285f4;
    color: #fff;
    border: 1px;
    border-radius: 0px 15px 15px 0px;
    padding: 16px 16px 15px 16px;
    font-size: 16px;
    cursor: pointer;
    margin-left: -8px;
    width: 132px; 
    height: 49px;
    font-weight: 700;
}
  
.Bouton-Recherche:hover {
    background-color: #3367d6;
}

.Bouton-Localisation {
    background-color: #F2F2F2;
    color: #fff;
    border: 1px;
    border-radius: 15px 0px 0px 15px;
    padding: 14px 16px 15px 16px;
    font-size: 16px;
    cursor: pointer;
    margin-left: -10px;
    width: 50px; 
    height: 49px
}


.Trouvez{
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.Filterbar{
    display: flex;
    align-items: flex-end;
}

.FilterText{
    padding-top: 20px;
    font-size: 18px;
    font-weight: 700;

}

.Economique{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    font-weight: 700;
    outline: 0;
    width: 173px;
    height: 50px;
    padding: 4px 19px 4px 19px;
    gap: 10px;
    border: 2px solid #D9D9D9;
    background-color:#fff;
    padding-left: 20px;
    font-size: 17px;
    cursor: pointer;

}
.Familial{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    font-weight: 700;
    outline: 0;
    width: 134px;
    height: 50px;
    padding: 4px 19px 4px 19px;
    gap: 10px;
    border: 2px solid #D9D9D9;
    background-color:#fff;
    padding-left: 20px;
    font-size: 17px;
    cursor: pointer;

}

.Economique:hover {
    background-color: #DEEBFF;
}
.Familial:hover {
    background-color: #DEEBFF;
}
.bouton-div{
    padding-left: 20px;
}

.infobartext{
    padding-left: 10px;
}
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 250px;
    height: 207px;
}

.card img {
    object-fit: cover;
    width: 250px;
    height: 127px;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    gap: 20px;
    width: 100%;
}

.hebergements {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto 1fr; 
    gap: 20px;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px; 
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 0; 
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.hebergements-cards .card-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 0px;
    margin-bottom: 4px;
    margin-right: 0;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.populaires {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto 1fr; 
    gap: 20px;
    width: 450px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.populaires-cards .card {
    display: flex;
    margin-top: 0; 
    width: 100%;
    max-width: 369px;
    height: 136px;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.populaires-cards img {
    width: 33%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/


.afficherplus{
    display: flex;
    font-weight: 700;
    cursor: pointer;
    margin-top: 20px;
}
.afficherpluss{
    text-align: center;
}

.sectionactivités{
    font-weight: 700;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 60px;
    width: 303px;
}

.cardactivite {
    background-color: white;
    border-radius: 20px;
    padding: 1px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    
}

.cardactivite img {
    object-fit: cover;
    width: 298px;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-left: -4px;
    margin-top: -5px;
    
}

.cardactivite-title {
    font-size: 16px;
}
.cardactivite-content {
    padding-left: 15px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.sectionactivités-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sectionactivités-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;

}

/****** Footer ***********/

.sectionfooter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 70px;
    width: 100%;
    justify-content: center;
    justify-items: center;
    background-color: #f2f2f2;
}

.sectionfooter1, .sectionfooter2, .sectionfooter3 {
    padding-top: 5px;
    padding-left: 25px;
    width: 100%;
    height: 163px;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

      /* Tablette */
/* Portrait and Landscape */
@media only screen and (min-width: 768px) and (max-width: 1280px) {
    .main-container {
        width: 100%;
        max-width: 1440px;
        padding: 0px 20px;
        box-sizing: border-box;
    }
    .Info {
        display: flex;
        position: relative;
        justify-content: space-between;
        width: 100%;
        z-index: 1;
        height: 100%;
        min-width: 94vw;
        max-width: 94vw;
        margin: 0 auto;
    }
    .Filterbar {
        display: flex;
        align-items: flex-end;
        position: relative; 
        margin-left: -5px;
    }
    .FilterText {
        padding-top: 20px;
        font-size: 18px;
        font-weight: 700;
        position: absolute;
        padding-bottom: 50px;
        padding-left: 10px;
    }
    .bouton-div {
        padding-left: 10px;
        padding-top: 60px;
    }
    .hebergements-and-populaires {
        grid-template-columns: 1fr;
    }
    .hebergements, .populaires {
        width: 93vw;
    }
    .hebergements-cards .card{
        height: 207px;
        width: 25.5vw;
    }
    .populaires-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }
    .sectionactivités-card {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 30px;
        padding-right: 2vh;
    }
    .cardactivite img {
        width: 20vw;
        height: 20vw;
    }
    .footerdiv {
        display: flex;
        flex-direction: column;
        min-width: 90vw;
    }
}
    /* Telephone */
/* Portrait and Landscape */
@media only screen 
  and (min-width: 320px) 
  and (max-width: 767px)  {
    .Info {
        display: grid;
        grid-template-columns: auto;
        position: relative;
        height: 100%;
        min-width: 20.40261153427639vh;
        max-width: 767px;
        margin-left: -10px;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-direction: column;
        justify-items: center;
    }
    .logo{
        justify-content: center;
    }
    .ButtonHebergement{
        display: flex;
        outline: 0;
        border-width: 0;
        border-bottom: 3px solid #0065FC;
        background-color: #fff;
        cursor: pointer;
        height: 35px;
        width: 50vw;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        color: #0065FC;
    }
    .boutondivactivites{
        gap: 0px;
    }
    .navigation{
        gap: 0px;
    }
    .Buttonactivite{
        display: flex;
        outline: 0;
        border-width: 0;
        border-bottom: 3px solid #f2f2f2;
        background-color: #fff;
        cursor: pointer;
        height: 35px;
        width: 50vw;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        padding-top: 0px;
    }
    .main-container {
        width: 100%;
        max-width: 1440px;
        padding: 0px;
        box-sizing: border-box;
    }
    .Titre-Recherche {
        display: flex;
        padding-top: 40px;
    }
    .Bouton-Recherche {
        background-color: #4285f4;
        background-image: url('../images/Icons/Loupe-recherche.png'); 
        background-size: 17px 17px; 
        background-repeat: no-repeat; 
        background-position: center; 
        color: transparent; 
        border: 1px solid transparent; 
        border-radius: 15px 15px 15px 15px;
        padding: 10px; 
        cursor: pointer;
        margin-left: 219px;
        width: 54px; 
        height: 54px;
        font-weight: 700;
        position: absolute;
    }
    .Input-Recherche{
        width: 244px;
        position: absolute;

    }
    .Barre-de-recherche {
        background-color: #fff;
        border-radius: 4px;
        padding: 8px;
        font-family: 'Raleway', sans-serif;
        min-width: auto;
        width: 264px;
        gap: 24px;
        margin-top: 15px;
        position: absolute;
        
        
    }
    .FilterText {
        padding-top: 20px;
        font-size: 18px;
        font-weight: 700;
        position: absolute;
    }
    .Filterbar {
        display: grid;
        grid-template-columns: auto auto;
        padding-left: 15px;
        width: 1px;
        height: 20px;
        padding-top: 120px;
      }
      .bouton-div {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
        row-gap: 7px;
        padding-left: 0px;
      }
      .Economique, .Familial {
        width: 43.333vw;
        height: 50px;
        padding: 4px 19px 4px 19px;
        margin-left: -15px;
        gap: 10px;
        font-size: 15px;
        grid-column: 3;
        grid-row: 4;
        justify-content: center;

      }
      .Infobardiv {
        font-size: 16px;
        font-weight: 400;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 140px;
        margin-bottom: -40px;
    }
    
    .populaires {
        margin-top: 50px;
        background-color: #F2F2F2;
        width: 101vw;
        height: 520px;
        border-radius: 20px;
        padding: 0px;
        gap: 40px;
        box-sizing: border-box;
        grid-template-rows: 1fr;
    }
    .populaires-title {
        padding-left: 30px;
        padding-bottom: 10px;
    }
    .fa-solid{
        padding-right: 10px;
    }

    .populaires-cards {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: space-between;
        align-items: center;
        margin-top: -50px;
        margin-bottom: 20px;
        width: 97vw;
    }

    .populaires-cards a {
        width: 100vw;
    }
    .populaires-cards  {
        width: 95vw;
    }
    .populaires-cards .card {
        height: 121px;
        margin-left: 6.5vw;
        width: 90vw;
        max-width: 90vw;
        
    }
    .populaires-cards img {
        width: 33vw;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .populaires-cards .card-content {
        width: 55%;
    }
    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    
    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
        margin-left: -20px;
        width: 100vw;
        
    }
    .hebergements-and-populaires section{
        border-radius: 0;
        box-sizing: unset;
    }

    .hebergements {
        width: 100vw;
        background-color: white;
        border-radius: 20px;
        padding: 0px;
        gap: 40px;
        box-sizing: border-box;
    }
    .hebergements-title{
        padding-left: 30px;
    }
    .hebergements-cards img {
        width: 91vw;
        height: 124px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .hebergements-cards {
        display: grid;
        grid-template-columns: auto;
        gap: 20px;
        justify-items: center;
    }
    .hebergements-cards .card {
        width: 91vw;
        margin-left: 4.5vw;
        height: 207px;
        gap: 4px;
        padding: 0px 0px 15px 0px;
    }
    .afficherplus {
        margin-top: 0px;
        padding-left: 25px;
    }
    .cardactivite{
        width: 87vw;
        height: 190px;
    }
    .cardactivite img{
        height: 124px;
        width: 89vw;
    }
    .sectionactivités {
        margin-left: 4.5vw;
        margin-right: 0px;
        margin-top: 0px;
    }
    .sectionactivités-card {
        flex-direction: column;
    }
    .sectionactivités-title{
        padding-left: 0px;
    }   
    .sectionfooter {
        display: grid;
        grid-template-columns: auto ;
        margin-top: 40px;
        width: 97vw;
        height: 461px;
        text-indent: 30px;
        justify-content: start;

        
    }   
        .sectionfooter1{
            background-color: #f2f2f2 ;
            padding-top: 5px;
            padding-left: 0px;
            width: 97vw;
            height: 163px;
        }
        .sectionfooter2{
            background-color: #f2f2f2 ;
            padding-top: 5px;
            padding-left: 0px;
            padding-right: 0px;
            width: 97vw;
            height: 163px;
            margin-right: 0px;
        }
        .sectionfooter3{
            background-color: #f2f2f2 ;
            padding-top: 5px;
            padding-left: 0px;
            width: 97vw;
            height: 163px;
        }

}



